<% include ../partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to Favehikes!</h1>
      <p>View our hand-picked hikes from all over the world.</p>
      <h2><a class="btn btn-primary btn-large" href="/hikes/new">Add new hike</a></h2>
    </div>
  </header>

  <div class="row text-center">
      <% hikes.forEach(hike => { %>
        <section class="col-md-4 col-sm-6 py-3">
          <div class="card border-primary">
            <img class="card-img-top" src="<%= hike.image %>" alt="hike">
            <div class="card-body py-2">
              <h3 class="card-title"><%= hike.name%></h3>
              <p><%= hike.description%></p>
              <a href="/hikes/<%= hike._id%>" class="btn btn-primary">More info...</a>
            </div>

          </div>
        </section>
      <% }); %>

    </div>

  </div>


<% include ../partials/footer %>