
</div>
<!-- closing tag for container in a header partial -->
<footer class="footer navbar-dark bg-dark p-4">
    <div class="container text-center">
        <p class="text-muted mb-0">&copy; Favehikes 2018 </p>
    </div>
</footer>

</body>
</html>