html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

body {
  background-color: snow;
  margin-bottom: 140px;
}

.header-title {
  text-align: center;
}

.flash {
  max-width: 1050px;
  margin: 0 auto;
}

.jumbotron {
  background-color: #bbd0ed80;
  padding-bottom: 10px;
  max-width: 1050px;
  margin: 0 auto;
}

.welcome {
  color: darkblue;
  font-size: 3em;
  text-shadow: 1px;
}

.search,
.search .form-group {
  width: 70%;
  margin: 15px auto;
}

.search input[type='text'] {
  width: 75%;
  height: 40px;
  margin-right: 7px;
}

.formAddHike,
.formEditHike {
  max-width: 450px;
  margin: 10px auto;
}

.formLogin,
.formRegister {
  max-width: 310px;
  margin: 20px auto;
}

.delete-form {
  display: inline;
}

.profile-img {
  width: 50%;
  height: auto;
  display: block;
  margin: 5px auto;
}

.card-size {
  width: 310px;
  margin: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100%;
  margin: 10px auto;
}

#map {
  height: 400px;
  width: 100%;
}

.footer {
  background-color: #c9d4e3;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  line-height: 40px;
  text-align: center;
}
