<% include ../partials/header %>

<div class="row" >
      <h2> <%= user.username %>`s hikes:</h2>
        <div class="card-deck">  
        <% hikes.forEach(function(hike) { %>
            <div class="card border-primary text-center" id="profile-card">
                <img class="card-img-top" src=" <%= hike.image %> " alt="trail image" />
                <div class="card-body align-middle pb-2">
                  <h4 class="card-title"><%= hike.name %></h4>
                  <a href="/hikes/<%= hike._id %>" class="btn btn-sm btn-primary" role="button">More Info</a>
              </div>
            </div>
       <% }); %> <!-- end forEach -->
      </div> 
      <!-- end row -->
    </div> 

<% include ../partials/footer %>
